<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Are you sure?</h1>
    </header>
    <main>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Yes</button>
            </form>
            <button><a style="text-decoration:none" href="{% url 'todo_list' %}">No</a></button>
        </div>
    </main>
</body>
</html>
