<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Lists</title>
</head>
<body>
    <header>
        <a href="{% url 'todo_list' %}">Main Page</a>
        <a href="{% url 'edit_todo_list' todo_detail.id %}">Edit List Name</a>
        <a href="{% url 'delete' todo_detail.id %}">Delete</a>
    </header>
    <main>
        <div>
            <h1>{{todo_detail.name}}</h1>
        </div>
        <div>
            <h2>Tasks</h2>
        </div>
        <div>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due Date</th>
                </thead>
                <tbody>
                    {% for item in todo_detail.items.all %}
                    <tr>
                        <td><a href="{% url 'edit_todo_item' item.id %}">{{item.task}}</a></td>
                        <td>{{item.due_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
