<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Lists</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'todo_list' %}">Main Page</a>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Lists</h1>
        </div>
        <div><a href="{% url 'create_todo_list' %}">Create a New List</a></div>
        <div><a href="{% url 'todo_item_create' %}">Create a New Task</a></div>
        <div>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of Items</th>
                </thead>
                <tbody>
                    {% for todo in todo_list %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' todo.id %}">{{todo.name}}</a></td>
                        <td>{{todo.items.all|length}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
